﻿@model ProServicesWebsite.Models.Usuario

@{
    ViewData["Title"] = "Contratados";
}

<h3>Mis Profesionales Contratados</h3>

<table class="table table-bordered table-hover">
    <thead style="background-color:#F4F4F4">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Mail
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Tarifa x Hora
            </th>
            <th>
                Calificación
            </th>
            <th>
                Imágen
            </th>
            <th>
                Profesiones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Contrato contrato in Model.Profesionales)
        {
            <tr>
                <td>
                    @contrato.Profesional.Nombre
                </td>
                <td>
                    @contrato.Profesional.Mail
                </td>
                <td>
                    @contrato.Profesional.Telefono
                </td>
                <td>
                    ARS @(contrato.Profesional.ValorHora).00
                </td>
                <td>
                    @for (int i = 0; i < contrato.Profesional.Calificacion; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                </td>
                <td>
                    <img src="~/img/@(contrato.Profesional.Imagen.Nombre)" style="height:120px; width:100px" />
                </td>
                <td>
                    @contrato.Profesional.Profesion.Descripcion
                </td>
            </tr>
        }
    </tbody>
</table>

