﻿@model ProServicesWebsite.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row">
        <h2>Borrar Usuario</h2>
        <h3 class="margin-bottom30px">Está seguro que desea eliminar?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Apellido)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Contrasenia)
                </dt>
                <dd>
                    ********
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FechaUltimoAcceso)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FechaUltimoAcceso)
                </dd>
            </dl>

            <form asp-action="Delete" class="margin-bottom30px">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Borrar" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-info">Volver al listado</a>
            </form>
        </div>

    </div>
</div>

