﻿@model ProServicesWebsite.Models.Usuario

@{
    ViewData["Title"] = "Detalles";
}

<div class="container">
    <div class="row">
        <h2>Detalles de Mi Cuenta</h2>
        <div>
            <dl class="dl-horizontal">
                <dt style="text-align:left">
                    Mi E-Mail
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt style="text-align:left">
                    Mi Nombre
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt style="text-align:left">
                    Mi Apellido
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Apellido)
                </dd>
                <dt style="text-align:left">
                    Mi Contraseña
                </dt>
                <dd>
                    ********
                </dd>
                <dt style="text-align:left">
                    Último Acceso
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FechaUltimoAcceso)
                </dd>
            </dl>
            <h3>Mis Profesionales Contratados</h3>
            <ul>
                @foreach (Contrato contrato in Model.Profesionales)
                {
                    <li>@contrato.Profesional.Nombre</li>
                }
            </ul>
        </div>
        <div class="margin-bottom30px">
            <a asp-controller="Usuarios" asp-action="Editar" class="btn btn-warning">Editar</a>
        </div>
    </div>
</div>
