﻿@model ProServicesWebsite.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div>
            <h2>Detalles del usuario</h2>
            <dl class="dl-horizontal">
                <dt style="text-align:left">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt style="text-align:left">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt style="text-align:left">
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Apellido)
                </dd>
                <dt style="text-align:left">
                    @Html.DisplayNameFor(model => model.Contrasenia)
                </dt>
                <dd>
                    ********
                </dd>
                <dt style="text-align:left">
                    @Html.DisplayNameFor(model => model.FechaUltimoAcceso)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FechaUltimoAcceso)
                </dd>
            </dl>
            <h3>Profesionales Contratados</h3>
            <ul>
                @foreach (Contrato contrato in Model.Profesionales)
                {
                    <li>@contrato.Profesional.Nombre</li>
                }
            </ul>
        </div>
        <div class="margin-bottom30px">
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>  
            <a asp-action="Index" class="btn btn-info">Volver al listado</a>
        </div>
    </div>
</div>

