﻿@model ProServicesWebsite.Models.Usuario

@{
    ViewData["Title"] = "Editar";
}

<div class="container">
    <div class="row">
        <h2>Editar Mis Datos de Usuario</h2>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Editar">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Mi E-Mail</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label">Mi Nombre</label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Apellido" class="control-label">Mi Apellido</label>
                        <input asp-for="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Contrasenia" class="control-label">Mi Contraseña</label>
                        <input name="password" class="form-control" type="password" />
                        <span asp-validation-for="Contrasenia" class="text-danger">
                            @Html.ValidationMessage("Contrasenia")
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
        <div class="margin-bottom30px">
            <a asp-controller="Usuarios" asp-action="Detalles" class="btn btn-info">Volver</a>
        </div>
    </div>
</div>

