﻿<div class="text-center">
    <h1>Login Usuarios Pro Services</h1>
</div>

<hr />

<div class="row">
    <div class="col-lg-offset-4 col-md-4">
        <form method="post" asp-action="login">
            <div class="text-danger" style="text-align:center">
                @ViewBag.Error
            </div>
            <div class="form-group">
                <label laber-for="email" class="control-label">Email:</label>
                <input name="email" class="form-control" type="email" value="@ViewBag.Email" />
            </div>
            <div class="form-group">
                <label label-for="Nombre" class="control-label">Contraseña:</label>
                <input name="password" class="form-control" type="password" />
            </div>
            <div class="form-group" style="margin-left:40%">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
            <div class="margin-bottom30px" style="text-align:center">
                <a asp-controller="Usuarios" asp-action="SignUp">
                    No tiene cuenta? Registrese aquí
                </a>
            </div>
        </form>
    </div>
</div>