﻿@model ProServicesWebsite.Models.Profesional

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <h2>Detalles de Profesional</h2>
        <div>
            <dl class="dl-horizontal">
                <dt style="text-align:left">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt style="text-align:left">
                    @Html.DisplayNameFor(model => model.Mail)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Mail)
                </dd>
                <dt style="text-align:left">
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt style="text-align:left">
                    @Html.DisplayNameFor(model => model.ValorHora)
                </dt>
                <dd>
                    ARS @(Html.DisplayFor(model => model.ValorHora)).00
                </dd>
                <dt style="text-align:left">
                    @Html.DisplayNameFor(model => model.Calificacion)
                </dt>
                <dd>
                    @for (int i = 0; i < Model.Calificacion; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                </dd>
                <dt style="text-align:left">
                    @Html.DisplayNameFor(model => model.Imagen)
                </dt>
                <dd>
                    <img src="~/img/@Html.DisplayFor(model => model.Imagen.Nombre)" style="height:120px; width:100px" />
                </dd>
                <dt style="text-align:left">
                    @Html.DisplayNameFor(model => model.Profesion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Profesion.Descripcion)
                </dd>
            </dl>
        </div>
        <div class="margin-bottom30px">
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning">Editar</a>  
            <a asp-action="Index" class="btn btn-info">Volver al listado</a>
        </div>
    </div>
</div>

