﻿@model ProServicesWebsite.Models.Profesional

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <h2>Editar Profesional</h2>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mail" class="control-label"></label>
                        <input asp-for="Mail" class="form-control" />
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ValorHora" class="control-label"></label>
                        <input asp-for="ValorHora" class="form-control" />
                        <span asp-validation-for="ValorHora" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Calificacion" class="control-label"></label>
                        <input asp-for="Calificacion" class="form-control" />
                        <span asp-validation-for="Calificacion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImagenID" class="control-label"></label>
                        <select asp-for="ImagenID" class="form-control" asp-items="ViewBag.ImagenID"></select>
                        <span asp-validation-for="ImagenID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ProfesionID" class="control-label"></label>
                        <select asp-for="ProfesionID" class="form-control" asp-items="ViewBag.ProfesionID"></select>
                        <span asp-validation-for="ProfesionID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
        <div class="margin-bottom30px">
            <a asp-action="Index" class="btn btn-info">Volver al listado</a>
        </div>
    </div>
</div>

