﻿@model IEnumerable<ProServicesWebsite.Models.Profesional>

@{
    ViewData["Title"] = "Index";
}

<h2>Profesionales</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nuevo</a>
</p>
<table class="table table-bordered table-hover">
    <thead style="background-color:#F4F4F4">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesion)
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorHora)
                </td>
                <td>
                    @for (int i = 0; i < item.Calificacion; i++)
                    {
                        <i class="fa fa-star"></i>
                    }
                </td>
                <td>
                    <img src="~/img/@Html.DisplayFor(modelItem => item.Imagen.Nombre)" style="height:120px; width:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profesion.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="margin-bottom30px">
    <a asp-controller="Admin" asp-action="Index" class="btn btn-info">Volver</a>
</div>

