﻿@model ProServicesWebsite.Models.Contrato

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Crear Nuevo Contrato</h2>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UsuarioID" class="control-label">Usuario</label>
                    <select asp-for="UsuarioID" class="form-control" asp-items="ViewBag.UsuarioID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ProfesionalID" class="control-label">Profesional</label>
                    <select asp-for="ProfesionalID" class="form-control" asp-items="ViewBag.ProfesionalID"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div class="margin-bottom30px">
        <a asp-action="Index" class="btn btn-info">Volver al listado</a>
    </div>
</div>


