﻿@model ProServicesWebsite.Models.Contrato

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row">
        <h2>Borrar Contrato</h2>
        <h3 class="margin-bottom30px">Está seguro que desea eliminar?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Usuario)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Usuario.Apellido)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Profesional)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Profesional.Mail)
                </dd>
            </dl>

            <form asp-action="Delete" class="margin-bottom30px">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Borrar" class="btn btn-danger" /> |
                <a asp-action="Index" class="btn btn-info">Volver al listado</a>
            </form>
        </div>
    </div>
</div>


