﻿@model IEnumerable<ProServicesWebsite.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h2>Contratos</h2>

<table class="table table-bordered table-hover">
    <thead style="background-color:#F4F4F4">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesional)
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profesional.Mail)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="margin-bottom30px">
    <a asp-controller="Admin" asp-action="Index" class="btn btn-info">Volver</a>
</div>

