﻿@{
    ViewData["Title"] = "Contacto";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplicacion Web Servicios Profesionales</title>

</head>

<body>

    <!-- contenido principal area -->
    <div class="principal-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ultimo-pro">
                        <h2 class="seccion-titulo">Contactenos</h2>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <form role="form" id="contact-form" class="contact-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="Name" autocomplete="off" id="Name"
                                               placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" autocomplete="off"
                                               id="email" placeholder="E-mail">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control textarea" rows="3" name="Message" id="Message"
                                                  placeholder="Mensaje"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="actions" colspan="6">
                                        <input type="submit" value="Enviar mensaje" name="enviar-mensaje"
                                               class="button alt wc-forward">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin contenido principal area -->

</body>

</html>

