﻿@model ProServicesWebsite.Models.Profesion

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Crear Nueva Profesión/es</h2>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div class="margin-bottom30px">
        <a asp-action="Index" class="btn btn-info">Volver al listado</a>
    </div>
</div>


