﻿@model ProServicesWebsite.Models.Profesion

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div>
            <h2>Detalles de Profesión</h2>
            <dl class="dl-horizontal">
                <dt style="text-align:left">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
            </dl>
        </div>
        <div class="margin-bottom30px">
            <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-warning">Editar</a>  
            <a asp-action="Index" class="btn btn-info">Volver al listado</a>
        </div>
    </div>
</div>
