﻿@model ProServicesWebsite.Models.Profesion

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <h2>Editar Profesión</h2>
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Guardar" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
        <div class="margin-bottom30px">
            <a asp-action="Index" class="btn btn-info">Volver al listado</a>
        </div>
    </div>
</div>

