﻿@model IEnumerable<ProServicesWebsite.Models.Profesion>

@{
    ViewData["Title"] = "Index";
}

<h2>Profesiones</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevas</a>
</p>
<table class="table table-bordered table-hover">
    <thead style="background-color:#F4F4F4">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="margin-bottom30px">
    <a asp-controller="Admin" asp-action="Index" class="btn btn-info">Volver</a>
</div>

