﻿@{
    ViewData["Title"] = "Admin";
}

<div class="admin-area">
    <div class="container" style="margin-top: 100px; margin-bottom: 100px">
        <div class="row">
            <a asp-controller="Profesional" asp-action="Index">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <div>
                            <i class="fa fa-plug"></i>
                        </div>
                        <div>
                            <p>Profesionales</p>
                        </div>
                    </div>
                </div>
            </a>
            <a asp-controller="Profesion" asp-action="Index">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <div>
                            <i class="fa fa-paperclip"></i>
                        </div>
                        <div>
                            <p>Profesiones</p>
                        </div>
                    </div>
                </div>
            </a>

            <a asp-controller="Usuarios" asp-action="Index">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <div>
                            <i class="fa fa-user"></i>
                        </div>
                        <div>
                            <p>Usuarios</p>
                        </div>
                    </div>
                </div>
            </a>            

            <a asp-controller="Contrato" asp-action="Index">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <div>
                            <i class="fa fa-paste"></i>
                        </div>
                        <div>
                            <p>Contratos</p>
                        </div>
                    </div>
                </div>
            </a>            

        </div>
    </div>
</div>

