﻿
@{
    ViewData["Title"] = "SobreNosotros";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplicacion Web Servicios Profesionales</title>

</head>

<body>

    <!-- contenido principal area -->
    <div class="principal-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-top: 10px;">
                    <div class="ultimo-pro">
                        <h2 class="seccion-titulo">Sobre nosotros</h2>
                    </div>
                </div>
                <div class="row margin-bottom30px separador-bottom">
                    <div class="col-md-6 inlineblock">
                        <div class="inlineblock">
                            <img src="~/img/nosotros-1.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 inlineblock">
                        <div class="inlineblock">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                                eu nisl eget ante aliquet suscipit ut non nibh. Integer quis aliquam
                                dolor, quis fringilla erat. Proin et egestas velit, et cursus nulla.
                                Pellentesque porta sit amet dolor vel placerat. Fusce ut posuere dui.
                                Praesent scelerisque tortor vel leo porta placerat. Vestibulum ante ipsum
                                primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                Pellentesque lacinia, sapien vel consectetur egestas, quam ligula ornare
                                dolor, sed maximus enim eros sit amet sem. In facilisis metus eu neque
                                auctor imperdiet. Fusce condimentum consequat neque a laoreet. Ut vel
                                metus sit amet leo luctus lacinia. Nam maximus odio nec dolor sagittis
                                interdum.
                                Donec accumsan tristique sodales. Integer sit amet laoreet eros, eget
                                elementum dui. Nullam auctor convallis justo, bibendum bibendum felis
                                hendrerit sit amet. Cras condimentum in metus ac volutpat. Sed ipsum diam,
                                tincidunt non augue ac, accumsan euismod justo. Donec volutpat quis velit
                                vitae fringilla. Mauris vitae elit orci. Etiam egestas erat in neque
                                lobortis rutrum. Pellentesque a imperdiet quam, nec bibendum est.
                                Sed varius nisl tincidunt metus pellentesque pretium. Donec et urna ac ipsum
                                pellentesque cursus eget nec ex. Mauris quis ultrices nulla. Duis vel arcu
                                sodales, pulvinar dolor et, tempus ante. Cras vitae felis aliquam, aliquet
                                libero imperdiet, venenatis nibh. Etiam nec odio nec tortor condimentum fringilla.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom30px separador-bottom">
                    <div class="col-md-6 inlineblock">
                        <div class="inlineblock">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                                eu nisl eget ante aliquet suscipit ut non nibh. Integer quis aliquam
                                dolor, quis fringilla erat. Proin et egestas velit, et cursus nulla.
                                Pellentesque porta sit amet dolor vel placerat. Fusce ut posuere dui.
                                Praesent scelerisque tortor vel leo porta placerat. Vestibulum ante ipsum
                                primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                Pellentesque lacinia, sapien vel consectetur egestas, quam ligula ornare
                                dolor, sed maximus enim eros sit amet sem. In facilisis metus eu neque
                                auctor imperdiet. Fusce condimentum consequat neque a laoreet. Ut vel
                                metus sit amet leo luctus lacinia. Nam maximus odio nec dolor sagittis
                                interdum.
                                Donec accumsan tristique sodales. Integer sit amet laoreet eros, eget
                                elementum dui. Nullam auctor convallis justo, bibendum bibendum felis
                                hendrerit sit amet. Cras condimentum in metus ac volutpat. Sed ipsum diam,
                                tincidunt non augue ac, accumsan euismod justo. Donec volutpat quis velit
                                vitae fringilla. Mauris vitae elit orci. Etiam egestas erat in neque
                                lobortis rutrum. Pellentesque a imperdiet quam, nec bibendum est.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 inlineblock">
                        <div class="inlineblock">
                            <img src="~/img/nosotros-2.jpg">
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom30px">
                    <div class="col-md-6 inlineblock">
                        <div class="inlineblock">
                            <img src="~/img/nosotros-3.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 inlineblock">
                        <div class="inlineblock">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
                                eu nisl eget ante aliquet suscipit ut non nibh. Integer quis aliquam
                                dolor, quis fringilla erat. Proin et egestas velit, et cursus nulla.
                                Pellentesque porta sit amet dolor vel placerat. Fusce ut posuere dui.
                                Praesent scelerisque tortor vel leo porta placerat. Vestibulum ante ipsum
                                primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                Pellentesque lacinia, sapien vel consectetur egestas, quam ligula ornare
                                dolor, sed maximus enim eros sit amet sem. In facilisis metus eu neque
                                auctor imperdiet. Fusce condimentum consequat neque a laoreet. Ut vel
                                metus sit amet leo luctus lacinia. Nam maximus odio nec dolor sagittis
                                interdum.
                                Donec accumsan tristique sodales. Integer sit amet laoreet eros, eget
                                elementum dui. Nullam auctor convallis justo, bibendum bibendum felis
                                hendrerit sit amet. Cras condimentum in metus ac volutpat. Sed ipsum diam,
                                tincidunt non augue ac, accumsan euismod justo. Donec volutpat quis velit
                                vitae fringilla. Mauris vitae elit orci. Etiam egestas erat in neque
                                lobortis rutrum. Pellentesque a imperdiet quam, nec bibendum est.
                                Integer sit amet laoreet eros, eget elementum dui. Nullam auctor convallis justo,
                                bibendum bibendum felis hendrerit sit amet. Cras condimentum in metus ac
                                volutpat. Sed ipsum diam, tincidunt non augue ac, accumsan euismod justo.
                                Donec volutpat quis velit
                                vitae fringilla. Mauris vitae elit orci. Etiam egestas erat in neque
                                lobortis rutrum. Pellentesque a imperdiet quam, nec bibendum est.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin contenido principal area -->

</body>

</html>

