.inlineblock {
    display: inline-block;
}

.margin-bottom30px {
    margin-bottom: 30px;
}

a:focus {
    outline: 0px solid
}

img {
    max-width: 100%;
    height: auto;
}

.img100pcnt {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0 0 15px;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.header-area {
    background: none repeat scroll 0 0 #f4f4f4;
}

    .header-area a {
        color: #888;
    }

.menu-usuario ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.menu-usuario li {
    display: inline-block;
}

    .menu-usuario li a {
        display: block;
        font-size: 13px;
        margin-right: 5px;
        padding: 10px;
    }

        .menu-usuario li a i.fa {
            margin-right: 5px;
        }

.area-mainmenu {
    background: none repeat scroll 0 0 #329475;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    width: 100%;
    z-index: 999;
}

.logo {
    width: 40%;
    height: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slogan {
    float: right;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 15px;
    padding: 10px;
    position: relative;
}

.separador-bottom {
    padding-bottom: 20px;
    border-bottom: gainsboro;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.area-mainmenu ul.navbar-nav li a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
}

.area-mainmenu ul.navbar-nav li:hover a, .area-mainmenu ul.navbar-nav li.active a {
    background: #222
}

.area-mainmenu .nav > li > a:focus {
    color: #000
}

.slider-area {
    clear: both
}

.slider-area, .promo-area, .confian-area, .principal-area, .footer-top-area, .pros-widget-area, .product-breadcroumb-area, .un-profesional-area {
    position: relative;
    overflow: hidden
}

.slide-text-wrapper {
    height: 700px;
}

.slide-text-wrapper {
    display: table;
    width: 100%;
}

.slide-text {
    display: table-cell;
    vertical-align: middle
}

.estilo-bottom {
    background: none repeat scroll 0 0 #13d4ae;
    bottom: -80px;
    height: 165px;
    left: -5%;
    position: absolute;
    width: 108%;
    z-index: 9;
}

.slide-bg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-position: center;
    background-size: cover
}

    .slide-bg:after {
        background: none repeat scroll 0 0 #000;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.6;
        position: absolute;
        top: 0;
        width: 100%;
    }

.slide-one {
    background-image: url(../img/slide-1.jpg)
}

.slide-two {
    background-image: url(../img/slide-2.jpg)
}

.slide-three {
    background-image: url(../img/slide-3.jpg)
}

.slide-text {
    color: #fff;
    font-size: 18px;
    font-weight: 200
}

    .slide-text h2 {
        font-size: 45px;
        font-weight: 200
    }

.slide-content {
    position: relative;
    z-index: 9;
    padding: 30px
}

    .slide-content:before {
        background: none repeat scroll 0 0 #000;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.6;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

.leermas {
    background: none repeat scroll 0 0 #13d4ae;
    color: #fff;
    border: 1px solid #13d4ae;
    display: inline-block;
    font-size: 20px;
    margin-top: 15px;
    padding: 10px 20px;
    text-transform: uppercase;
}

    .leermas:hover {
        background: #222;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff
    }

.promo-area {
    background: none repeat scroll 0 0 #13d4ae;
    color: #fff;
    padding: 77px 0 200px;
}

.confian-area {
    background: none repeat scroll 0 0 #13d4ae;
    color: #fff;
    padding: 0px 0 200px;
}

    .promo-area .estilo-bottom, .confian-area .estilo-bottom {
        background: #fff
    }

.single-promo {
    border: 1px solid #17a78b;
    font-size: 25px;
    font-weight: 200;
    padding: 20px 10px;
    text-align: center;
}

    .single-promo i {
        font-size: 50px;
    }

    .single-promo:hover {
        color: #fff;
        background: #222;
        border-color: #222
    }

.seccion-titulo {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 50px;
    text-align: center;
}

.imagen-profesional-f {
    position: relative;
}

.profesional-hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
}

    .profesional-hover:after {
        background: none repeat scroll 0 0 #000;
        content: "";
        height: 100%;
        left: -100%;
        opacity: 0.6;
        position: absolute;
        top: 0;
        width: 100%;
        transition: .4s;
    }

    .profesional-hover a {
        background: none repeat scroll 0 0 #13d4ae;
        border-radius: 5px;
        color: #fff;
        display: block;
        font-size: 16px;
        left: 10%;
        margin: 0;
        padding: 10px;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        border: 1px solid #13d4ae;
        width: 80%;
        z-index: 99;
        transition: .4s;
    }

        .profesional-hover a:hover {
            background: #000;
            text-decoration: none;
            border-color: #444;
        }

.pro-carousel-precio ins {
    color: #13d4ae;
    font-weight: 700;
    margin-right: 5px;
    text-decoration: none;
}

.profesional-hover a i.fa {
    margin-right: 5px;
}

.profesional-hover a.add-to-cart-link {
    top: -25%;
}

.profesional-hover a.link-detalles {
    bottom: -25%;
}

.un-profesional h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
}

    .un-profesional h2 a {
        color: #222;
    }

.un-profesional p {
    color: #13d4ae;
    font-weight: 700;
}

.un-profesional {
    overflow: hidden;
}

    .un-profesional:hover .profesional-hover a.add-to-cart-link {
        top: 32%;
    }

    .un-profesional:hover .profesional-hover a.link-detalles {
        bottom: 32%;
    }

    .un-profesional:hover .profesional-hover:after {
        left: 0
    }

.product-carousel {
    padding-top: 40px;
}

.ultimo-pro .owl-nav {
    position: absolute;
    right: 0;
    top: 0;
}

    .ultimo-pro .owl-nav div, .pros-relac-wrapper .owl-nav div {
        border: 1px solid #13d4ae;
        color: #13d4ae;
        display: inline-block;
        margin-left: 15px;
        padding: 1px 10px;
    }

        .ultimo-pro .owl-nav div:hover, .confian-wrapper .owl-nav div:hover, .pros-relac-wrapper .owl-nav div:hover {
            color: #222;
            border-color: #222
        }

.confian-list {
    padding-top: 40px;
}

    .confian-list .owl-nav {
        position: absolute;
        right: 0;
        top: 0;
    }

.confian-wrapper .owl-nav div {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    margin-left: 15px;
    padding: 1px 10px;
}

.principal-area {
    padding-bottom: 170px
}

.pro-wid-titulo {
    font-family: raleway;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 40px;
}

.un-pro-wid {
    margin-bottom: 31px;
    overflow: hidden;
}

.profesional-mini {
    float: left;
    height: 90px;
    margin-right: 15px;
    width: 100px;
}

.un-pro-wid h2 {
    font-size: 18px;
    margin-bottom: 12px;
}

.profesional-wid-rating {
    color: #ffc808;
    margin-bottom: 10px;
}

.un-pro-wid h2 a {
    color: #222;
}

    .un-pro-wid h2 a:hover, .un-profesional h2 a:hover {
        color: #1ABC9C;
    }

.ver-todos-wid {
    background: none repeat scroll 0 0 #13d4ae;
    color: #fff;
    padding: 3px 15px;
    position: absolute;
    right: 10px;
    top: 3px;
}

    .ver-todos-wid:hover {
        color: #fff;
        background-color: #222;
        text-decoration: none
    }

.un-profesional-widget {
    position: relative;
}

.pros-widget-area {
    padding-bottom: 150px;
    padding-top: 30px;
}

    .pros-widget-area .estilo-bottom {
        background: #333
    }

.footer-top-area .estilo-bottom {
    background: #000
}

.footer-top-area {
    background: none repeat scroll 0 0 #333;
    color: #999;
    padding: 35px 0 180px;
}

.footer-bottom-area {
    background: #000;
    color: #fff
}

.footer-about-us span {
    color: #13d4ae;
}

.footer-wid-title {
    font-family: raleway;
    font-size: 30px;
    font-weight: 100;
    color: #fff
}

.footer-about-us h2 {
    font-weight: 200;
}

.footer-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

    .footer-menu ul li {
        border-bottom: 1px dashed #555;
        padding: 5px 0;
    }

.footer-menu a {
    display: block;
    padding: 5px 0;
    color: #999
}

.footer-social a {
    background: none repeat scroll 0 0 #13d4ae;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 5px;
    text-align: center;
    width: 40px;
    border: 1px solid #13d4ae;
}

    .footer-social a:hover {
        background-color: #222;
        border-color: #666
    }

.footer-social {
    margin-top: 20px
}

a {
    color: #13d4ae
}

    a:hover, a:focus {
        color: #17a78b
    }

.footer-bottom-area {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    padding-bottom: 40px;
}

.slide-bulletz {
    bottom: 30px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 99;
}

ol.slide-indicators {
    left: inherit;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

    ol.slide-indicators li {
        background: none repeat scroll 0 0 #222;
        border: medium none;
        border-radius: 0;
        cursor: pointer;
        display: inline-block;
        height: 10px;
        margin: 0 0 0 5px;
        width: 10px;
    }

        ol.slide-indicators li.active {
            background: none repeat scroll 0 0 #fff;
            height: 10px;
            margin: 0 0 0 5px;
            width: 10px;
        }

.carousel.carousel-fade .item {
    transition: opacity 1s ease-in-out
}

.carousel.carousel-fade .active.left, .carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.footer-card-icon {
    font-size: 30px;
    text-align: right;
}

.pro-titulo-grande-area {
    background: url(img/background.png) repeat scroll 0 0 #1ABC9C
}

.pro-titulo-gde h2 {
    font-family: raleway;
    font-size: 50px;
    font-weight: 200;
    margin: 0;
    padding: 50px 0;
    color: #fff;
}

.un-profesional-area .estilo-bottom {
    background-color: #333333
}

.un-profesional-area {
    padding: 80px 0 130px;
}

.sidebar-titulo {
    color: #3dc6ab;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.sidebar-simple {
    margin-bottom: 50px;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #ddd;
    padding: 10px;
}

input[type="submit"], button[type=submit] {
    background: none repeat scroll 0 0 #13d4ae;
    border: medium none;
    color: #fff;
    padding: 11px 20px;
    text-transform: uppercase;
}

    input[type="submit"]:hover, button[type=submit]:hover {
        background-color: #222
    }

.sidebar-simple input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
}

.thubmnail-recent {
    margin-bottom: 30px;
    overflow: hidden;
}

.mini-reciente {
    float: left;
    height: auto;
    margin-right: 15px;
    width: 63px;
}

.thubmnail-recent > h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

    .thubmnail-recent > h2 a {
        color: #222;
    }

.sidebar-simple > ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.sidebar-simple li {
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0;
}

.sidebar-simple a {
    display: block;
}

.pro-main-img {
    margin-bottom: 20px;
}

.pro-nombre {
    font-size: 25px;
    margin-bottom: 20px;
}

.product-inner-price {
    margin-bottom: 25px;
}

    .product-inner-price > ins {
        color: #13d4ae;
        font-weight: 700;
        margin-right: 10px;
        text-decoration: none;
    }

.quantity {
    float: left;
    margin-right: 15px;
}

    .quantity input[type="number"] {
        border: 1px solid #13d4ae;
        padding: 5px;
        width: 50px;
    }

.boton-agregar-carrito {
    background: none repeat scroll 0 0 #13d4ae;
    border: medium none;
    color: #fff;
    padding: 6px 25px;
    display: inline-block
}

    .boton-agregar-carrito:hover {
        background-color: #222;
        color: #fff;
        text-decoration: none
    }

form.cart {
    margin-bottom: 25px;
}

.pro-inner-categoria {
    margin-bottom: 30px;
}

.profesional-tab {
    border-bottom: 1px solid #ddd;
    list-style: outside none none;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}

    .profesional-tab li {
        display: inline-block;
    }

        .profesional-tab li.active {
            background: none repeat scroll 0 0 #13d4ae;
        }

            .profesional-tab li.active a {
                color: #fff;
            }

        .profesional-tab li a {
            color: #222;
            display: block;
            font-size: 16px;
            padding: 10px 30px;
        }

            .profesional-tab li a:hover {
                text-decoration: none;
            }

            .profesional-tab li a:focus {
                text-decoration: none;
            }

.tab-content h2 {
    font-size: 20px;
}

.tab-content {
    margin-bottom: 30px;
}

.submit-review label {
    display: block;
}

.submit-review input[type="text"], .submit-review input[type="email"], .submit-review textarea {
    margin-bottom: 20px;
    width: 100%;
}

.rating-chooser {
    margin-bottom: 30px;
}

    .rating-chooser p {
        font-weight: 700;
    }

.rating-wrap-post {
    font-size: 20px;
}

.submit-review textarea {
    height: 105px;
}

.pros-relac-wrapper {
    margin-top: 30px;
}

.pros-relac-titulo {
    color: #3dc6ab;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.pros-relac-wrapper .owl-nav {
    position: absolute;
    right: 0;
    top: -56px;
}

table.tabla_tienda {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 50px;
    width: 100%;
}

    table.tabla_tienda th, table.tabla_tienda td {
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        padding: 15px;
        text-align: center;
    }

    table.tabla_tienda th {
        background: none repeat scroll 0 0 #f4f4f4;
        font-size: 15px;
        text-transform: uppercase;
    }

td.pro-miniatura img {
    height: auto;
    width: 70px;
}

td.pro-nombre {
    font-size: 18px;
}

div.quantity input.plus, div.quantity input.minus {
    background: none repeat scroll 0 0 #13d4ae;
    border: medium none;
    color: #fff;
    height: 25px;
    line-height: 15px;
    width: 25px;
}

td.pro-cantidad div.quantity {
    float: none;
    margin: 0;
}

td.actions div.coupon {
    float: left;
}

.carrito-colaterales {
    overflow: hidden;
}

.otros-contratar {
    float: left;
    margin-right: 3%;
    width: 100%;
}

.carrito-colaterales h2 {
    color: #13d4ae;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

div.carrito-colaterales ul.products {
    list-style: outside none none;
    margin: 0 0 0 -30px;
    padding: 0;
}

    div.carrito-colaterales ul.products li.product {
        float: left;
        margin-left: 30px;
        position: relative;
        width: 198px;
    }

        div.carrito-colaterales ul.products li.product .onsale {
            background: none repeat scroll 0 0 #13d4ae;
            color: #fff;
            padding: 5px 10px;
            position: absolute;
            right: 0;
        }

        div.carrito-colaterales ul.products li.product h3 {
            color: #333;
            font-size: 20px;
            margin-top: 15px;
        }

        div.carrito-colaterales ul.products li.product .price {
            color: #333;
            display: block;
            margin-bottom: 10px;
            overflow: hidden;
        }

            div.carrito-colaterales ul.products li.product .price ins {
                color: #13d4ae;
                font-weight: 700;
                margin-left: 10px;
                text-decoration: none;
            }

.estilo-carrito-info {
    background: none repeat scroll 0 0 #f4f4f4;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 15px;
}

.col2-set {
    margin-left: -30px;
    overflow: hidden;
}

.col-1, .col-2 {
    float: left;
    margin-left: 30px;
    width: 360px;
}

#customer_details label {
    display: block;
    margin: 0 0 5px;
}

#customer_details input[type="text"], #customer_details textarea, .shipping_calculator input[type=text] {
    margin-bottom: 10px;
    width: 100%;
}

#customer_details h3 {
    color: #13d4ae;
    font-size: 20px;
    text-transform: uppercase;
}

.create-account {
    background: none repeat scroll 0 0 #f4f4f4;
    margin-bottom: 50px;
    padding: 15px;
}

#order_review_heading {
    color: #13d4ae;
    font-size: 20px;
    text-transform: uppercase;
}

#customer_details select, .shipping_calculator select {
    border: 1px solid #ddd;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}

table.tabla_tienda td.eliminar-pro a {
    display: inline-block;
    padding: 0 5px 2px;
    text-transform: uppercase;
}

    table.tabla_tienda td.eliminar-pro a:hover {
        color: #fff;
        background: red;
        text-decoration: none
    }

table.tabla_tienda td.pro-nombre a {
    color: #222;
}

    table.tabla_tienda td.pro-nombre a:hover {
        color: #1ABC9C;
        text-decoration: none
    }

div.quantity input.plus:hover, div.quantity input.minus:hover {
    background-color: #222
}

div.carrito-colaterales ul.products li.product a:hover h3 {
    color: #1ABC9C
}

div.carrito-colaterales ul.products li.product a:hover {
    text-decoration: none
}

div.carrito-colaterales ul.products li.product:hover .boton-agregar-carrito {
    background-color: #222
}

.carrito-colaterales .shipping_calculator {
    float: right;
    width: 40%;
}

.nosotros1 {
    background-image: url(/img/nosotros-1.jpg);
}

.single-pro-tienda h2 {
    font-size: 20px;
    margin: 10px 0;
}

.profesional-opcion-tienda {
    margin-top: 15px;
}

.single-pro-tienda {
    margin-bottom: 50px
}

.pro-upper {
    border-style: solid;
    border-color: #999999;
    border-width: 2px;
}

.pagination > li > a, .pagination > li > span {
    color: #13d4ae;
}

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

.img-login {
    padding: 10%;
}

.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-area {
    background: none repeat scroll 0 0 #fff;
    color: #fff;
    padding: 77px 0 200px;
}