﻿@model ProServicesWebsite.Models.Contrato

@{
    ViewData["Title"] = "Contratar";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Crear Nuevo Contrato</h2>
            <h4>Desea confirmar el contrato?</h4>
            <form asp-action="Contratar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProfesionalID" class="control-label">Profesional ID: @ViewBag.ProfesionalID</label>
                    <input asp-for="ProfesionalID" value="@ViewBag.ProfesionalID" type="hidden" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div class="margin-bottom30px">
        <a onclick="goBack()" class="btn btn-info">Volver</a>
    </div>

</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>