﻿@model ProServicesWebsite.Models.Profesional

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplicacion Web Servicios Profesionales</title>

</head>

<body>

    <div class="pro-titulo-grande-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pro-titulo-gde text-center">
                        <h2>Profesional seleccionado</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="un-profesional-area">
        <div class="estilo-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="sidebar-simple">
                        <h2 class="sidebar-titulo">Profesionales</h2>
                        <div class="thubmnail-recent">
                            <a asp-controller="UnProfesional" asp-action="Details" asp-route-id="1">
                                <img src="~/img/mini-1.jpg" class="mini-reciente" alt="">
                            </a>
                            <h2><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="1">Profesional 1</a></h2>
                        </div>
                        <div class="thubmnail-recent">
                            <a asp-controller="UnProfesional" asp-action="Details" asp-route-id="2">
                                <img src="~/img/mini-2.jpg" class="mini-reciente" alt="">
                            </a>
                            <h2><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="2">Profesional 2</a></h2>
                        </div>
                        <div class="thubmnail-recent">
                            <a asp-controller="UnProfesional" asp-action="Details" asp-route-id="3">
                                <img src="~/img/mini-3.jpg" class="mini-reciente" alt="">
                            </a>
                            <h2><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="3">Profesional 3</a></h2>
                        </div>
                        <div class="thubmnail-recent">
                            <a asp-controller="UnProfesional" asp-action="Details" asp-route-id="4">
                                <img src="~/img/mini-4.jpg" class="mini-reciente" alt="">
                            </a>
                            <h2><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="4">Profesional 4</a></h2>
                        </div>
                    </div>

                    <div class="sidebar-simple">
                        <h2 class="sidebar-titulo">Profesionales recientes</h2>
                        <ul>
                            <li><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="1">Profesional 1</a></li>
                            <li><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="2">Profesional 2</a></li>
                            <li><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="3">Profesional 3</a></li>
                            <li><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="4">Profesional 4</a></li>
                            <li><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="5">Profesional 5</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="pro-contenido-derecha">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="pro-main-img">
                                        <img src="~/img/@(Model.Imagen.Nombre)" alt="">
                                    </div>

                                    <div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                            tristique, diam in consequat iaculis, est purus iaculis mauris,
                                            imperdiet facilisis ante ligula at nulla. Quisque volutpat nulla
                                            risus, id maximus ex aliquet ut.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="pro-nombre">@(Model.Nombre) (ID: @(Model.ID))</h2>
                                    <div class="profesional-wid-rating">
                                        @for (int i = 0; i < Model.Calificacion; i++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                    </div>
                                    <div class="product-inner-price">
                                        <ins>ARS @(Model.ValorHora).00 x Hr</ins>
                                    </div>

                                    <form action="" class="cart">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a asp-controller="UnProfesional" asp-action="Contratar" asp-route-id="@(Model.ID)">
                                                        <input type="button" class="boton-agregar-carrito" value="Generar contrato" />
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <a asp-controller="Usuarios" asp-action="Login">
                                                <input type="button" class="boton-agregar-carrito" value="Generar contrato" />
                                            </a>
                                        }
                                    </form>

                                    <div class="pro-inner-categoria">
                                        <p>
                                            <b>Profesiones: </b> <span>@(Model.Profesion.Descripcion) </span>
                                        </p>
                                    </div>

                                    <div role="tabpanel">
                                        <ul class="profesional-tab" role="tablist">
                                            <li role="presentation" class="active">
                                                <a href="#home" aria-controls="home"
                                                   role="tab" data-toggle="tab">Descripción</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                                                    tristique, diam in consequat iaculis, est purus iaculis mauris,
                                                    imperdiet facilisis ante ligula at nulla. Quisque volutpat nulla
                                                    risus, id maximus ex aliquet ut. Suspendisse potenti. Nulla varius
                                                    lectus id turpis dignissim porta. Quisque magna arcu, blandit quis
                                                    felis vehicula, feugiat gravida diam. Nullam nec turpis ligula.
                                                    Aliquam quis blandit elit, ac sodales nisl. Aliquam eget dolor eget
                                                    elit malesuada aliquet. In varius lorem lorem, semper bibendum
                                                    lectus lobortis ac.
                                                </p>

                                                <p>
                                                    Mauris placerat vitae lorem gravida viverra. Mauris in fringilla ex.
                                                    Nulla facilisi. Etiam scelerisque tincidunt quam facilisis lobortis.
                                                    In malesuada pulvinar neque a consectetur. Nunc aliquam gravida
                                                    purus, non malesuada sem accumsan in. Morbi vel sodales libero.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
