﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplicacion Web Servicios Profesionales</title>

</head>

<body>

    <!-- footer top area -->
    <div class="footer-top-area">
        <div class="estilo-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="footer-about-us">
                        <h2>Pro<span> Services</span></h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero
                            quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi
                            iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi
                            veritatis magni at?
                        </p>
                        <div class="footer-social">
                            <a href="https://es-la.facebook.com/"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
                            <a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Navegación </h2>
                        <ul>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a asp-controller="Usuarios" asp-action="Detalles">Mi Cuenta</a></li>
                                <li><a asp-controller="Usuarios" asp-action="Contratados">Lista de Contratos</a></li>
                            }
                            else
                            {
                                <li><a asp-controller="Usuarios" asp-action="Login">Mi Cuenta</a></li>
                                <li><a asp-controller="Usuarios" asp-action="Login">Lista de Contratos</a></li>
                            }
                            <li><a asp-controller="SobreNosotros" asp-action="Index">Sobre nosotros</a></li>
                            <li><a asp-controller="Contacto" asp-action="Index">Contactenos</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Categorías</h2>
                        <ul>
                            <li><a asp-controller="Profesionales" asp-action="Index">Electricidad</a></li>
                            <li><a asp-controller="Profesionales" asp-action="Index">Plomeria</a></li>
                            <li><a asp-controller="Profesionales" asp-action="Index">Gas</a></li>
                            <li><a asp-controller="Profesionales" asp-action="Index">Albañileria</a></li>
                            <li><a asp-controller="Profesionales" asp-action="Index">Carpinteria</a></li>
                            <li><a asp-controller="Profesionales" asp-action="Index">Otros</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin footer top area -->

    <!-- footer bottom area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2019 ZVX & JF</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-visa"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-amex"></i>
                        <i class="fa fa-cc-paypal"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin footer bottom area -->

</body>

</html>