﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplicacion Web Servicios Profesionales</title>

</head>

<body>
    <!-- Header start -->
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <nav class="navbar navbar-default navbar-fixed-top" style="padding-top:5px; padding-bottom: 5px">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav mr-auto">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li><a asp-controller="Usuarios" asp-action="Detalles"><i class="fa fa-user"></i> Mi Cuenta</a></li>
                                        <li><a asp-controller="Usuarios" asp-action="Contratados"><i class="fa fa-users"></i> Lista de Contratos</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-controller="Usuarios" asp-action="Login"><i class="fa fa-user"></i> Mi Cuenta</a></li>
                                        <li><a asp-controller="Usuarios" asp-action="Login"><i class="fa fa-users"></i> Lista de Contratos</a></li>
                                        <li><a asp-controller="Admin" asp-action="Index"><i class="fa fa-wrench"></i> Admin </a></li>
                                    }

                                </ul>

                                <ul class="nav navbar-nav navbar-right">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a asp-controller="Usuarios" asp-action="Editar">Editar</a></li>
                                                <li>
                                                    <a href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>
                                                    <form id="logoutForm" method="post" asp-controller="Usuarios" asp-action="Logout"></form>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li><a asp-controller="Usuarios" asp-action="Login"><i class="fa fa-sign-in"></i> Login</a></li>
                                        <li><a asp-controller="Usuarios" asp-action="Signup"><i class="fa fa-user-plus"></i> Registrarse</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- header end -->

    <!-- sub header -->
    <div style="margin-top:60px; margin-bottom:5px">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo.PNG">
                        </a>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="slogan">
                        <span>Todos los profesionales en un solo sitio</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin sub header -->

    <!-- mainmenu -->
    <div class="area-mainmenu">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Profesionales" asp-action="Index">Profesionales</a></li>
                        <li><a asp-controller="SobreNosotros" asp-action="Index">Sobre nosotros</a></li>
                        <li><a asp-controller="Contacto" asp-action="Index">Contáctenos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- fin mainmenu -->

</body>

</html>