﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProServicesWebsite</title>

    <!-- CSS's -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Google Fonts -->
    <link href='~/css/font-titillium-web.css' rel='stylesheet' type='text/css'>
    <link href='~/css/font-roboto-condensed-font.css' rel='stylesheet' type='text/css'>
    <link href='~/css/font-raleway.css' rel='stylesheet' type='text/css'>
    
    <environment include=”Development”>
        <!-- Font awesome -->
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    </environment>

    <environment exclude=”Development”>
        <!-- Font awesome -->
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    </environment>

</head>



<body>
    <header>
        <partial name="_Header.cshtml" />
    </header>

    <div id="body">
        @RenderBody()
    </div>

    <footer>
        <partial name="_Footer.cshtml" />
    </footer>

    <!-- jQuery -->
    <script src="~/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/js/bootstrap.min.js"></script>

    <!-- jQuery menu sticky y carousel -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>

    <!-- jQuery efectos -->
    <script src="~/js/jquery.easing.1.3.min.js"></script>

    <!-- Main JS -->
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>
