﻿@model IEnumerable<ProServicesWebsite.Models.Profesional>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplicacion Web Servicios Profesionales</title>

</head>

<body>
    <!-- sliders -->
    <div class="slider-area">
        <div class="estilo-bottom"></div>
        <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel">

            <div class="slide-bulletz">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="carousel-indicators slide-indicators">
                                <li data-target="#slide-list" data-slide-to="0" class="active"></li>
                                <li data-target="#slide-list" data-slide-to="1"></li>
                                <li data-target="#slide-list" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="single-slide">
                        <div class="slide-bg slide-one">
                        </div>
                        <div class="slide-text-wrapper">
                            <div class="slide-text">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="slide-content">
                                                <h2>La mejor pagina</h2>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                    Consequuntur, dolorem, excepturi. Dolore aliquam quibusdam ut quae
                                                    iure vero exercitationem ratione!
                                                </p>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ab
                                                    molestiae minus reiciendis! Pariatur ab rerum, sapiente ex nostrum
                                                    laudantium.
                                                </p>
                                                <a asp-controller="SobreNosotros" asp-action="Index" class="leermas">Leer mas</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-slide">
                        <div class="slide-bg slide-two"></div>
                        <div class="slide-text-wrapper">
                            <div class="slide-text">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="slide-content">
                                                <h2>La mejor pagina 2</h2>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe
                                                    aspernatur, dolorum harum molestias tempora deserunt voluptas
                                                    possimus quos eveniet, vitae voluptatem accusantium atque deleniti
                                                    inventore. Enim quam placeat expedita! Quibusdam!
                                                </p>
                                                <a asp-controller="SobreNosotros" asp-action="Index" class="leermas">Leer mas</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="single-slide">
                        <div class="slide-bg slide-three"></div>
                        <div class="slide-text-wrapper">
                            <div class="slide-text">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-6">
                                            <div class="slide-content">
                                                <h2>La mejor página 3</h2>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores,
                                                    eius?
                                                </p>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
                                                    voluptates necessitatibus dicta recusandae quae amet nobis sapiente
                                                    explicabo voluptatibus rerum nihil quas saepe, tempore error odio
                                                    quam obcaecati suscipit sequi.
                                                </p>
                                                <a asp-controller="SobreNosotros" asp-action="Index" class="leermas">Leer mas</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin area sliders -->
    <!-- area promos -->
    <div class="promo-area">
        <div class="estilo-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-group"></i>
                        <p>Profesionales expertos</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-truck"></i>
                        <p>Los enviamos directo a tu domicilio</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-lock"></i>
                        <p>Seguridad y Confianza</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-promo">
                        <i class="fa fa-magic"></i>
                        <p>Trabajos 100% garantizados</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin area promos -->
    <!-- contenido principal area -->
    <div class="principal-area">
        <div class="estilo-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ultimo-pro">
                        <h2 class="seccion-titulo">Profesionales Destacados</h2>
                        <div class="product-carousel">
                            @if (Model != null)
                            {
                                @foreach (var item in Model.Reverse())
                                {
                            <div class="un-profesional">
                                <div class="imagen-profesional-f">
                                    <img src="~/img/@(item.Imagen.Nombre)" alt="">
                                    <div class="profesional-hover">
                                        <a asp-controller="UnProfesional" asp-action="Details" asp-route-id="@item.ID" class="link-detalles">
                                            <i class="fa fa-link"></i> Ver detalles
                                        </a>
                                    </div>
                                </div>
                                <h2><a asp-controller="UnProfesional" asp-action="Index">@(item.Nombre)</a></h2>
                                <div class="profesional-wid-rating">
                                    @for (int i = 0; i < item.Calificacion; i++)
                                    {
                                        <i class="fa fa-star"></i>
                                    }
                                </div>
                            </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin contenido principal area -->
    <!-- confian area-->
    <div class="confian-area">
        <div class="estilo-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="confian-wrapper">
                        <h2 class="seccion-titulo">Confian en nosotros</h2>
                        <div class="confian-list">
                            <img src="img/confian-1.jpg" alt="">
                            <img src="img/confian-2.jpg" alt="">
                            <img src="img/confian-3.jpg" alt="">
                            <img src="img/confian-4.jpg" alt="">
                            <img src="img/confian-1.jpg" alt="">
                            <img src="img/confian-2.jpg" alt="">
                            <img src="img/confian-3.jpg" alt="">
                            <img src="img/confian-4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin confian area -->
    <!-- pros widget area -->
    <div class="pros-widget-area">
        <div class="estilo-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="un-profesional-widget">
                        <h2 class="pro-wid-titulo">Mejores Pro's</h2>
                        <a asp-controller="Profesionales" asp-action="Index" class="ver-todos-wid">Ver todos</a>
                        <div class="un-pro-wid">
                            <a asp-controller="UnProfesional" asp-action="Details" asp-route-id="1">
                                <img src="img/mini-1.jpg" alt=""
                                     class="profesional-mini">
                            </a>
                            <h2><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="1">Profesional 1</a></h2>
                            <div class="profesional-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="un-pro-wid">
                            <a asp-controller="UnProfesional" asp-action="Details" asp-route-id="2">
                                <img src="img/mini-2.jpg" alt=""
                                     class="profesional-mini">
                            </a>
                            <h2><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="2">Profesional 2</a></h2>
                            <div class="profesional-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="un-pro-wid">
                            <a asp-controller="UnProfesional" asp-action="Details" asp-route-id="3">
                                <img src="img/mini-3.jpg" alt=""
                                     class="profesional-mini">
                            </a>
                            <h2><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="3">Profesional 3</a></h2>
                            <div class="profesional-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="un-profesional-widget">
                        <h2 class="pro-wid-titulo">Pro's Recientes</h2>
                        <a asp-controller="Profesionales" asp-action="Index" class="ver-todos-wid">Ver todos</a>
                        <div class="un-pro-wid">
                            <a asp-controller="UnProfesional" asp-action="Details" asp-route-id="4">
                                <img src="img/mini-4.jpg" alt=""
                                     class="profesional-mini">
                            </a>
                            <h2><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="4">Profesional 4</a></h2>
                            <div class="profesional-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="un-pro-wid">
                            <a asp-controller="UnProfesional" asp-action="Details" asp-route-id="1">
                                <img src="img/mini-1.jpg" alt=""
                                     class="profesional-mini">
                            </a>
                            <h2><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="1">Profesional 1</a></h2>
                            <div class="profesional-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="un-pro-wid">
                            <a asp-controller="UnProfesional" asp-action="Details" asp-route-id="2">
                                <img src="img/mini-2.jpg" alt=""
                                     class="profesional-mini">
                            </a>
                            <h2><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="2">Profesional 2</a></h2>
                            <div class="profesional-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="un-profesional-widget">
                        <h2 class="pro-wid-titulo">Nuevos Pro's</h2>
                        <a asp-controller="Profesionales" asp-action="Index" class="ver-todos-wid">Ver todos</a>
                        @{
                            int j = 0;
                            foreach (var item in Model)
                            {
                                if (j == 3)
                                {
                                    break;
                                }
                                j++;
                                <div class="un-pro-wid">
                                    <a asp-controller="UnProfesional" asp-action="Details" asp-route-id="@(item.ID)">
                                        <img src="~/img/default-mini.jpg" alt=""
                                             class="profesional-mini">
                                    </a>
                                    <h2><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="@(item.ID)">@(item.Nombre)</a></h2>
                                    <div class="profesional-wid-rating">
                                        @for (int i = 0; i < item.Calificacion; i++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- fin footer bottom area -->

</body>

</html>