﻿@model IEnumerable<ProServicesWebsite.Models.Profesional>

@{
    ViewData["Title"] = "Profesionales";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplicacion Web Servicios Profesionales</title>

</head>

<body>

    <div class="pro-titulo-grande-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pro-titulo-gde text-center">
                        <h2>Profesionales</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="un-profesional-area">
        <div class="estilo-bottom"></div>
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="single-pro-tienda">
                            <div class="pro-upper">
                                <a asp-controller="UnProfesional" asp-action="Details" asp-route-id="@(item.ID)">
                                    <img src="~/img/@(item.Imagen.Nombre)" alt="">
                                </a>
                            </div>
                            <h2><a asp-controller="UnProfesional" asp-action="Details" asp-route-id="@(item.ID)">@(item.Nombre)</a></h2>
                            <div class="profesional-wid-rating">
                                @for (int i = 0; i < item.Calificacion; i++)
                                {
                                    <i class="fa fa-star"></i>
                                }
                            </div>
                            <div class="pro-carousel-precio">
                                <ins>ARS @(item.ValorHora).00 x Hr.</ins>
                            </div>

                            <div class="profesional-opcion-tienda">
                                <a class="boton-agregar-carrito" asp-controller="UnProfesional" asp-action="Details" asp-route-id="@(item.ID)">Ver detalle</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</body>

</html>

